<div class="status-bar" [ngClass]="statusClass()">
  ●&nbsp;{{ statusLabel() }}
</div>

<div #logEl class="log">
  @if (characterCreationData()) {
    <app-character-creation
      [data]="characterCreationData()!"
      (selectionComplete)="onCharacterCreationComplete($event)"
    />
  } @else {
    @for (msg of messages(); track msg.id) {
      <div class="msg" [class]="msg.cssClass" [innerHTML]="msg.html | safeHtml"></div>
    }
  }
</div>

<div class="input-bar" [class.hidden]="characterCreationData() !== null">
  <input
    class="cmd-input"
    [type]="inputType()"
    [placeholder]="placeholder()"
    [ngModel]="inputValue()"
    (ngModelChange)="inputValue.set($event)"
    (keydown.enter)="onEnter()"
    autocomplete="off"
    autocapitalize="off"
    spellcheck="false"
    autofocus
  />
  <button type="button" class="send-btn" (click)="send()">Send</button>
</div>